:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}


body {
    margin: 10px 10px 10px 10px;
    font-family: 'KiaSignatureRegular', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #666;
    background-color: #ece6e0;
    letter-spacing: 1px;
    
}


.date-group-labels {
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  font: 13px 'KiaSignatureRegular', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  padding: 5px 10px;
  background: #7f7f7f;
    
}


h1 {
    font-weight: 420;
    letter-spacing: 1px;
    font-family: 'KiaSignatureRegular', sans-serif;
    position: relative;
    font-size: 28px;
    line-height: 40px;
    padding: 15px 15px 15px 1%;
    color: white;
    background: #7f7f7f;
    box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
    border-radius: 3px 3px 3px 3px;

}

h2 {
    font-weight: 420;
    font-family: 'KiaSignatureRegular', sans-serif;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 15px 15px 15px 1%;
    color: white;
    background: #7f7f7f;
    box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
    border-radius: 3px 3px 3px 3px;
 
}


